* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    background: #c0fdfd;
  }
  .logo{
    width: 300px;
    margin-top: 5%;
  }
  .logo img{
    width: 100%;
    padding: 2%;
  }
  .rt-f {
    background-image: url("../img/illustration-cartes-1.png");
    background-position: center;
    background-color: rgb(216, 216, 216);
    border-radius: 30px;
    -webkit-box-shadow: 12px 12px 22px gray;
    box-shadow: 12px 12px 22px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
  }

  .btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 30%;
    margin-left: 35%;
    color: white;
    font-weight: bold;
    background-color: black;
  }

  .btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
    margin-top: 5%;
  }
  .col-lg-7 {
    width: 90%;

  }
  .form-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media screen and (max-width: 700px) {
      .logo{
        width: 200px;
      }
      .row{
        width: 90%;
        margin-left: 5%;
      }
    .form-row {
    flex-direction: column;
    }
    .col-lg-7 {
      width: 50vw;
  }
  }